*{
    margin:0;
    padding:0;
    overflow: hidden;
    body{
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        .wrapper{
            height:100vh;
            min-width:1200px;
            position:relative;
            display:flex;
            .cover{
                height:100vh;
                background-color:yellow;
                flex-basis: 60%;
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: #ff0084;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #33001b, #ff0084);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #33001b, #ff0084); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                h1{
                    font-size:90px;
                    font-weight: 700;
                    color:whitesmoke;
                }
                h4{
                    font-size:48px;
                }
                .start-button {
                    margin: 2rem auto;
                    text-align: center;
                    width: 13rem;
                    padding: 0.01rem 0;
                    background: #3797FF;
                    color: #FFFFFF;
                    transition: all 1s ease-in-out;
                  position: relative;
                  background-color: #000000;  /* fallback for old browsers */
                  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
                  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                }
                .start-button p {
                    vertical-align: middle;
                    font-family: "Lato";
                    font-size: 1.75rem;
                }
                .start-button::after {
                  content: "";
                  display: block;
                  position: absolute;
                  border-color: transparent black;;
                  border-style: solid;
  
                  border-width: 45px 0px 45px 45px;
                  top: -10px;
                  left: 100%;
               
                }
                .start-button:hover{
                    color:black;
                    cursor: pointer;
                }
            }
            .sidecover{
                height:100vh;
                flex-basis: 40%;
                background-color:transparent;
                position:relative;
                .road{
                    margin-top:100vh;
                    position:absolute;
                    height:100vh;
                    width:100%;
                    background: #0F2027;  /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
                    display:flex;
                    justify-content: flex-start;
                    .lane1{
                        
                        width:100%;
                        flex-basis:33.33%;
                        .car1{
                            height:150px;
                            width:200px;
                           display:flex;
                           justify-content: center;
                           align-items: center;
                           margin-right:5px;
                           img{
                            max-width: 200px;
                            max-height: 150px;
                           }
                        }
                    
                    }
                    .lane2{

                        width:100%;
                        flex-basis:33.33%;
                        .car2{
                            transform: rotate(180deg);
                            height:150px;
                            width:200px;
                           display:flex;
                           justify-content: center;
                           align-items: center;
                           margin-right:5px;
                           img{
                            max-width: 200px;
                            max-height: 150px;
                           }

                        }

                        .mycar{
                            position: absolute;
                            bottom:0px;
                            margin-left:10px;
                            height:130px;
                            width:150px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img{
                                max-width:200px;
                                max-height:150px;
                            }
                        }

                    }
                    .lane3{

                    
                        width:100%;
                        flex-basis:33.33%;
                        .car3{
                            transform: rotate(180deg);
                            height:150px;
                            width:200px;
                           display:flex;
                           justify-content: center;
                           align-items: center;
                           margin-right:5px;
                           img{
                            max-width: 200px;
                            max-height: 150px;
                           }
                        }
                    }
                    .lines{
                        
                        margin-top:-400px;
                        flex-basis:2%;
                        padding:5px;
                        height:150vh;
                        display:flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .line{
                            top:15px;
                            height:60px;
                            width:4px;
                            background-color:whitesmoke;
                            
                        }
                    }
                  
                }
            }
        }
    }
}