$desktop-mode:768px;
@mixin desktop(){
    @media only screen and(min-width:$desktop-mode){
        @content;
   }
   
}

@include desktop{
    *{
        margin:0px;
        padding:0px;
        font-family:'source sans pro';
    }
}
*{
    font-family: 'source sans pro';
    margin:0px 1px;
    padding:0px 0px;
    box-sizing: border-box;
    .wrapper{
        overflow-x:hidden;
        @include desktop{
            margin:0px;
            padding:0px;
            min-width:1200px;
        }
        .banner{
            padding:0px 0px;
            margin:0px 0px;
            width:100%;
          
    
        .top-header{
            @include desktop{
                width:100%;
            }
                background-color:gray;
            ul{
                display:flex;
                padding:1px;
                justify-content: space-evenly;
                flex-wrap:wrap;
                li{
                    list-style: none;
                    font-size:10px;
                    a{
                        text-decoration: none;
                        color:black;
                    }
                }
                .social-media{
                    i{
                        padding:1px;
                    }
                    
    
                }
            }
        }
        .navigation{
            display:grid;
            padding:5px;
            grid-gap:10px;
            grid-template-columns: 1fr 4fr;
            @include desktop{
                grid-template-columns: 1fr 5fr 2fr;
                border-bottom:1px solid lightblue;
                margin-top:15px;
                height:50px;
            }
            .image-logo{
                max-height:60px;
                max-width:60px;
                @include desktop{
                    padding:4px;
                    margin-left:220px;
                    min-height:80px;
                    min-width: 80px;
                }
                img{
                    max-height:60px;
                    max-width:60px;
                    @include desktop{
                        max-height:100px;
                        max-width: 100px;
                    }
                }
            }
            .linksonclick{
                display:none;
                @include desktop(){
                    margin-left:10px;
                    display:block;
                }
                ul{

                    padding:5px;
                    display:flex;
                    justify-content: space-around;
                    align-items: center;
                    li{
                        line-height:30px;
                        list-style:none;
                        font-size:12px;
                        color:gray;
                        font-weight: bold;
                    }
                }
            }
            form{
                #search-textbox{
                    margin-left:10px;
                    width:120px;
                    border:none;
                    outline: none;
                    border-bottom:1px solid darkgray;
                    @include desktop{
                        display:none;
                    }
                }
                i{
                    color:gray;
                    font-size:12px;
                    @include desktop{
                        font-size:18px;
                        line-height: 40px;
                        margin-left:40px;
                    }
                }
                label{
                    i{
                        font-size:16px;
                        color:black;
                        float:right;
                        margin-right:10px;
                        @include desktop{
                            display:none;
                        }
                       
                    }
                    
                }
                input[type=checkbox]{
                        display:none;
                }
                input[type=checkbox]:checked ~ .linksonclick{
                         height:100px;
                }
            }
        } 
        // .linksonclick{
        //     float:right;
        //     width:120px;
        //     border-radius: 10px;
        //     box-shadow: 5px 5px 5px darksalmon;
        //     border:1px solid darksalmon;
        //  ul{
        //      display:flex;
        //      flex-direction: column;
        //      align-items: center;             
        //      li{
        //          color:darkcyan;
        //          padding:5px;
        //          width:100%;
        //         box-shadow: 2px 2px darkcyan;
        //      }
        //  }
        // }   
        .banner-image{
           max-height:50vh;
           position: relative;
           text-align: center;
           img{
               @include desktop{
                   min-width:1200px;
                   min-height:60vh;
               }
               max-height:40vh;
            }
            .info{
                padding:10px;
                z-index: 1;
                margin-top:-35vh;
                position: absolute;
                @include desktop{
                    margin-left:350px;
                    margin-top:-40vh;
                   
                }
                h2{
                    @include desktop{
                        font-size: 36px;
                    }
                    padding:5px;
                    color:white;
                    font-weight: 800;
                }
                p{
                    @include desktop{
                        width:600px;
                    }
                    padding:5px;
                    font-size: 12px;
                    color:darkgrey;
                }
                button{
                    @include desktop{
                        margin:10px;
                    }
                    text-align: center;
                    color:whitesmoke;
                    border:none;
                    border-radius: 5px;
                    background-color:darkgoldenrod;
                    padding:5px;
                    height:30px;
                    width:250px;
                }
               
              
                
            }
            
    
        }
        }
        //banner ends here
    
        //content starts here
        .content{
            .content-quality-info{
                display:flex;
                flex-direction: column;
                align-items: center;
                .topinfo{
                    display:flex;
                    flex-direction: column;
                    align-items: center;

              
                    h2{
                        font-size: 16px;
                        padding: 5px;
                        @include desktop{
                            margin-top:100px;
                        }
                    }
                    p{
                        font-size: 12px;
                        text-align: justify;
                        text-justify: inter-word;
                        color:darkcyan;
                        padding:2px;
                        @include desktop{
                            width:500px;
                        }
                    }
                }
                .content-threesection{
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    @include desktop{
                        flex-direction: row;
                        justify-content: flex-end;
                        margin:30px;
                        
                    }
                    section{
                        padding:10px;
                        border-radius:10px;
                        box-shadow: 0 14px 18px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                        display:flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        @include desktop{
                        box-shadow: none;
                        padding:1px;
                        }
                        h2{
                            padding:2px;
                            font-size:22px;
                            color: darkslategray;
                            @include desktop{
                                margin-right:150px;
                                padding:5px;
                            }
                         
                            i{
                                padding:4px;
                                color:yellow;
                                @include desktop{
                                    font-size: 40px;
                                    margin-right:10px;
                                }
                            }                      
                        }
                        p{
                            font-size:12px;
                            text-align: justify;
                            text-justify: inter-word;
                            color:#1a0000;
                            @include desktop{
                                color:gray;
                                width:250px;
                                margin-left:100px;
                            }
                        }
                    }
                }
            }

            .content-latestwork{
                padding:10px;
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @include desktop{
                    background-color:lightgrey;
                }
                h2{
                    margin:6px 0;
                    font-size: 18px;
                }
                p{
                    color:gray;
                    padding:2px;
                    font-size:12px;
                    text-align: justify;
                    text-justify: inter-word;
                }
                .cards{ 
                    display:flex;
                    flex-direction: column;
                    justify-content: space-between;
                    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
                    @include desktop{
                        box-shadow: none;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                    .card{
                        margin:1px 1px;
                        border-radius: 5px;
                        max-height:auto;
                        display:grid;
                        grid-template-rows: 4fr 1fr;
                        @include desktop{
                            padding:5px;
                            margin:15px;
                        }
                        img{
                            border-radius:5px;
                            max-height:210px;
                        }
                        footer{
                            
                            display:flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            align-items: center;
                            p{
                              
                                margin:5x 0px;
                                font-weight: 900;
                                
                            }
                            span{
                                margin-top:-5px;
                                color:darkcyan;
                                font-size:10px;
                                padding:5px;
                            }
                        }
                    }
                }
                .gallery{
                    margin:20px 1px;
                    display:flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    img{
                        padding:5px;
                        max-height:250px;
                        max-width:300px;
                        @include desktop(){
                            height:120px;
                            width:200px;
                        }
                    }
                }
                footer{
                    background-color: #27292b;
                    display:flex;
                    flex-wrap:wrap;
                    @include desktop{
                        background-color:white;
                        flex-direction: row;
                    }
                    .footer-info{
                        padding:5px;
                        display:flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        @include desktop{
                            justify-content: flex-start;
                            align-items: center;
                            
                        }
                        h4{
                            padding:10px;    
                        }
                        img{
                            padding:3px;
                        }
                        p{
                            padding:3px;
                            @include desktop{
                                width:400px;
                            }
                        }
                    }
                    .latest-work{
                        
                     
                        h4{
                            text-align: center;
                            font-size:24px;
                        }
                        .latestworkimage{
                            display:flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            @include desktop{
                                width:400px;
                            }
                            
                        img{
                            padding:5px;
                            margin:5px;
                            max-height:150px;
                            max-width:150px;
                        }
                        }
                       
                    }
                    .freeupdate{
                        margin:10px;
                        display:flex;
                        flex-direction:column;
                        justify-content: center;
                        align-items:center;
                        @include desktop{
                            justify-content: flex-start;
                            align-items: center;
                            
                        }
                        h4{
                            font-size:24px;
                            padding:5px;
                                            
                        } 
                        p{
                            padding:5px;
                            @include desktop{
                                width:200px;
                            }
                        }
                        input{
                            margin-top:10px;
                            padding:20px;
                            height:40px;
                            width:300px;
                            border:none;
                            border-radius:5px;
                            @include desktop{
                                border:1px solid grey;
                                margin-left:40px;
                            }
                        }
                    }
                    .copyright{
                        
                        padding:5px;
                        
                        p{
                            text-align: center;
                            color:white;
                        }
                    }
                }

            }
        }//contents ends here
    
    
       
    }//wrapper ends here
    
}
//Finish




