$grid-background:white;
$box-shadow:0 0 1px black;
$footer-background:rgb(15, 2, 19);
$paragraph-color:grey;
$color-black:black;
$color-lightblue:lightblue;
$color-lightgray:lightgray;
$color-gray:gray;