@mixin margin-padder($margin,$padding){
    margin:$margin;
    padding:$padding;
}

@mixin height-width-setter($height , $width){
    height:$height;
    width:$width;

}

@mixin margin-tbrl-setter($top,$bottom,$right,$left){
    margin-top:$top;
    margin-bottom:$bottom;
    margin-right:$right;
    margin-left:$left;
}
@mixin font-setter($fontsize , $fontweight){
    font-size:$fontsize;
    font-weight:$fontweight;
  

}