@import '../sass/base/reset';
@import '../sass/base/variable';
@import '../sass/component/gradientpartial';
@import '../sass/component/mixin';
@import '../sass/component/grid';


//body starts here
body {
    overflow-x: hidden;


    //only for grids
    .grid {
        float: left;
        height: auto;
        box-shadow: $box-shadow;
        margin: 5px;
        background-color: $grid-background;


    }

    .grids {
        float: left;
        height: auto;
        margin: 5px;
        background-color: $grid-background;


    }

    //grid ends here



    //banner    
    .banner {

        position: relative;
        @include height-width-setter(70vh, 100%);
        background-position: center;
        background-size: cover;
        background-image: url('../img/banner/home-banner.jpg');
        overflow: hidden;

        ul {
            float: right;
            padding: 25px;
            margin-right: 50px;
        }

        ul li {

            display: inline;
            @include margin-padder(10px, 5px);
            @include font-setter(12px, auto);
            font-style: bold;

        }

        .banner-aside {
            position: absolute;
            float: right;
            margin-top: 22vh;
            margin-left: 700px;
        }

        .banner-para {
            @include font-setter(10px, bold);
            padding: 4px;
        }

        .banner-head {
            padding: 5px;
            @include font-setter(28px, 900);
        }

        .banner-para2 {
            @include font-setter(10px, auto);
            color: $paragraph-color;
            padding: 12px;

        }

        .banner-button {
            border: none;
            @include margin-padder(10px, 10px);
            width: 40%;
            border-radius: 4px;
            background-image: $btn-gradientbackground;
        }

        .home-left {
            position: absolute;
            height: 400px;
            margin-top: 60px;
            margin-left: 300px;
        }

    }


    //banner ends


    //aboutmyself starts here
    .aboutmyself {
        @include margin-padder(20px, 10px);
        margin-left: 300px;
        overflow: hidden;

        .aboutmyself-para {
            @include font-setter(12px, auto);
            color: $paragraph-color;
            @include margin-tbrl-setter(20px, auto, 200px, auto);
        }
    }

    //aboutmyself ends here

    //three-box starts here
    .three-box {
        @include margin-tbrl-setter(15px, auto, 30px, 300px);
        color: $paragraph-color;

        .threeboxicons {
            @include margin-padder(5px, 1px);
            color: $color-lightblue;
        }

        .threeboxhead {
            @include margin-padder(5px, 1px);
            color: $color-black;
        }

        .threeboxpara {
            @include margin-padder(5px, 1px);
            font-size: 10px;

        }



    }


    .three-box::after {
        content: '';
        clear: both;
        display: block;


    }

    //three-box ends here


    //offer-head starts here

    .offer-head {

        margin: 25px;
        margin-left: 0px;
        position: relative;
        @include height-width-setter(100vh, 100%);
        background-color: #edfffb;

        h2 {
            padding: 10px;
            margin-left: 530px;
        }

        .offer-paragraph {
            font-size: 10px;
            color: $paragraph-color;
            padding: 10px;
            @include margin-tbrl-setter(auto, 5px, 350px, 450px);

        }

        .offer-paragraph:after {
            content: '$17 each If you are looking at whatever you want to in the web.You';
            display: block;
            margin-left: 100px;
        }

    }

    //offer-head ends here


    //allgrid starts here
    .allgrid {
        @include margin-padder(10px, 20px);
        margin-left: 250px;
        @include height-width-setter(100vh, 1000px);
        overflow: hidden;

        .architecture {
            @include height-width-setter(200px, 250px);
            padding: 5px;
            @include margin-tbrl-setter(20px, auto, 28px, 30px);

            i {
                font-size: 50px;
                padding: 10px;
                color: $color-lightblue;
            }

            h4 {
                padding: 10px;
                font-weight: bolder;

            }

            p {
                @include margin-padder(0px, 10px);
                font-size: 10px;
                color: $color-gray;

            }
        }

        .interiordesign {
            @include height-width-setter(200px, 250px);
            padding: 5px;
            @include margin-tbrl-setter(20px, auto, 20px, auto);

            i {
                font-size: 50px;
                padding: 10px;
                color: $color-lightblue;
            }

            h4 {
                padding: 10px;
                font-weight: bolder;
            }

            p {
                @include margin-padder(0px, 10px);
                font-size: 10px;
                color: $color-gray;

            }
        }

        .conceptdesign {
            @include height-width-setter(200px, 250px);
            padding: 5px;

            margin-top: 20px;
            margin-right: 50px;

            i {
                @include font-setter(50px, auto);
                color: $color-lightblue;
                padding: 10px;
            }

            h4 {
                padding: 10px;
                font-weight: bolder;
            }

            p {
                @include margin-padder(0px, 10px);
                font-size: 10px;
                color: $color-gray;

            }
        }


    }

    //allgrid ends here

    //row_projects starts here
    .row_projects {
        text-align: center;
        @include margin-tbrl-setter(auto, auto, 150px, 100px);

        h2 {
            padding: 10px;
            @include margin-tbrl-setter(10px, auto, auto, 100px);
        }

        p {
            @include font-setter(10px, auto);
            color: $color-lightgray;
            padding: 10px;
            @include margin-tbrl-setter(auto, auto, auto, 120px);

        }

        nav {
            font-size: 12px;
            padding: 10px;
            @include margin-tbrl-setter(10px, auto, auto, 100px);

            li {
                display: inline;
                padding: 10px;
                @include font-setter(14px, bold);
                color: $color-lightblue;
            }
        }

        // main-gallery starts here
        .main-gallery {
            @include margin-tbrl-setter(10px, 10px, 30px, 175px);
            @include height-width-setter(100vh, 100%);

            img {
                @include height-width-setter(250px, 300px);
                @include margin-padder(10px, 10px);




            }




        }

        .gal::after {
            content: '';
            clear: both;
            display: block;
        }



    }

    //row_projects ends here  



    //Footer starts here
    .footer {
        background: $footer-background;
        @include margin-padder(5px, 30px);
        @include height-width-setter(40vh, 100%);

        .about {
            color: $grid-background;
            background: $footer-background;
            margin-left: 140px;
            margin-right: 70px;
            text-align: center;


            h4 {
                padding: 10px;
            }

            p {
                @include margin-tbrl-setter(auto, auto, 20px, 10px);
                padding: 10px;
                @include font-setter(10px, auto);
                color: $color-gray;

            }
        }

        .news {
            color: $grid-background;
            background: $footer-background;
            text-align: center;

            h4 {
                padding: 10px;
            }

            p {
                @include font-setter(12px, auto);
                color: $color-gray;
                padding: 10px;
            }

            .input {
                margin-top: 20px;
                @include height-width-setter(40px, 260px);

            }

            .searchboxicon {
                line-height: 40px;
                background-color: blue;
                @include height-width-setter(40px, 40px);
            }
        }

        .follow {
            color: $grid-background;
            background: $footer-background;
            text-align: center;

            h4 {
                padding: 10px;
            }

            p {
                padding: 10px;
                @include font-setter(12px, auto);
                color: $color-gray;

            }

            span {
                padding: 10px;
            }

        }


    }

    //footer ends here

}


//Body ends here