* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

h1, p, span, ul, li, a {
  margin: 0;
  padding: 0;
}

.col-1 {
  width: calc(1/12 * 100%);
}

.col-2 {
  width: calc(2/12 * 100%);
}

.col-3 {
  width: calc(3/12 * 100%);
}

.col-4 {
  width: calc(4/12 * 100%);
}

.col-5 {
  width: calc(5/12 * 100%);
}

.col-6 {
  width: calc(6/12 * 100%);
}

.col-7 {
  width: calc(7/12 * 100%);
}

.col-8 {
  width: calc(8/12 * 100%);
}

.col- {
  width: calc(9/12 * 100%);
}

.col-10 {
  width: calc(10/12 * 100%);
}

.col-11 {
  width: calc(11/12 * 100%);
}

.col-12 {
  width: calc(12/12 * 100%);
}

body {
  overflow-x: hidden;
}

body .grid {
  float: left;
  height: auto;
  -webkit-box-shadow: 0 0 1px black;
          box-shadow: 0 0 1px black;
  margin: 5px;
  background-color: white;
}

body .grids {
  float: left;
  height: auto;
  margin: 5px;
  background-color: white;
}

body .banner {
  position: relative;
  height: 70vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("../img/banner/home-banner.jpg");
  overflow: hidden;
}

body .banner ul {
  float: right;
  padding: 25px;
  margin-right: 50px;
}

body .banner ul li {
  display: inline;
  margin: 10px;
  padding: 5px;
  font-size: 12px;
  font-weight: auto;
  font-style: bold;
}

body .banner .banner-aside {
  position: absolute;
  float: right;
  margin-top: 22vh;
  margin-left: 700px;
}

body .banner .banner-para {
  font-size: 10px;
  font-weight: bold;
  padding: 4px;
}

body .banner .banner-head {
  padding: 5px;
  font-size: 28px;
  font-weight: 900;
}

body .banner .banner-para2 {
  font-size: 10px;
  font-weight: auto;
  color: grey;
  padding: 12px;
}

body .banner .banner-button {
  border: none;
  margin: 10px;
  padding: 10px;
  width: 40%;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left top, right top, from(#8490ff), to(#62bdfc));
  background-image: linear-gradient(90deg, #8490ff, #62bdfc);
}

body .banner .home-left {
  position: absolute;
  height: 400px;
  margin-top: 60px;
  margin-left: 300px;
}

body .aboutmyself {
  margin: 20px;
  padding: 10px;
  margin-left: 300px;
  overflow: hidden;
}

body .aboutmyself .aboutmyself-para {
  font-size: 12px;
  font-weight: auto;
  color: grey;
  margin-top: 20px;
  margin-bottom: auto;
  margin-right: 200px;
  margin-left: auto;
}

body .three-box {
  margin-top: 15px;
  margin-bottom: auto;
  margin-right: 30px;
  margin-left: 300px;
  color: grey;
}

body .three-box .threeboxicons {
  margin: 5px;
  padding: 1px;
  color: lightblue;
}

body .three-box .threeboxhead {
  margin: 5px;
  padding: 1px;
  color: black;
}

body .three-box .threeboxpara {
  margin: 5px;
  padding: 1px;
  font-size: 10px;
}

body .three-box::after {
  content: '';
  clear: both;
  display: block;
}

body .offer-head {
  margin: 25px;
  margin-left: 0px;
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #edfffb;
}

body .offer-head h2 {
  padding: 10px;
  margin-left: 530px;
}

body .offer-head .offer-paragraph {
  font-size: 10px;
  color: grey;
  padding: 10px;
  margin-top: auto;
  margin-bottom: 5px;
  margin-right: 350px;
  margin-left: 450px;
}

body .offer-head .offer-paragraph:after {
  content: '$17 each If you are looking at whatever you want to in the web.You';
  display: block;
  margin-left: 100px;
}

body .allgrid {
  margin: 10px;
  padding: 20px;
  margin-left: 250px;
  height: 100vh;
  width: 1000px;
  overflow: hidden;
}

body .allgrid .architecture {
  height: 200px;
  width: 250px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: auto;
  margin-right: 28px;
  margin-left: 30px;
}

body .allgrid .architecture i {
  font-size: 50px;
  padding: 10px;
  color: lightblue;
}

body .allgrid .architecture h4 {
  padding: 10px;
  font-weight: bolder;
}

body .allgrid .architecture p {
  margin: 0px;
  padding: 10px;
  font-size: 10px;
  color: gray;
}

body .allgrid .interiordesign {
  height: 200px;
  width: 250px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: auto;
  margin-right: 20px;
  margin-left: auto;
}

body .allgrid .interiordesign i {
  font-size: 50px;
  padding: 10px;
  color: lightblue;
}

body .allgrid .interiordesign h4 {
  padding: 10px;
  font-weight: bolder;
}

body .allgrid .interiordesign p {
  margin: 0px;
  padding: 10px;
  font-size: 10px;
  color: gray;
}

body .allgrid .conceptdesign {
  height: 200px;
  width: 250px;
  padding: 5px;
  margin-top: 20px;
  margin-right: 50px;
}

body .allgrid .conceptdesign i {
  font-size: 50px;
  font-weight: auto;
  color: lightblue;
  padding: 10px;
}

body .allgrid .conceptdesign h4 {
  padding: 10px;
  font-weight: bolder;
}

body .allgrid .conceptdesign p {
  margin: 0px;
  padding: 10px;
  font-size: 10px;
  color: gray;
}

body .row_projects {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 150px;
  margin-left: 100px;
}

body .row_projects h2 {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: 100px;
}

body .row_projects p {
  font-size: 10px;
  font-weight: auto;
  color: lightgray;
  padding: 10px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: 120px;
}

body .row_projects nav {
  font-size: 12px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: 100px;
}

body .row_projects nav li {
  display: inline;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: lightblue;
}

body .row_projects .main-gallery {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
  margin-left: 175px;
  height: 100vh;
  width: 100%;
}

body .row_projects .main-gallery img {
  height: 250px;
  width: 300px;
  margin: 10px;
  padding: 10px;
}

body .row_projects .gal::after {
  content: '';
  clear: both;
  display: block;
}

body .footer {
  background: #0f0213;
  margin: 5px;
  padding: 30px;
  height: 40vh;
  width: 100%;
}

body .footer .about {
  color: white;
  background: #0f0213;
  margin-left: 140px;
  margin-right: 70px;
  text-align: center;
}

body .footer .about h4 {
  padding: 10px;
}

body .footer .about p {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
  margin-left: 10px;
  padding: 10px;
  font-size: 10px;
  font-weight: auto;
  color: gray;
}

body .footer .news {
  color: white;
  background: #0f0213;
  text-align: center;
}

body .footer .news h4 {
  padding: 10px;
}

body .footer .news p {
  font-size: 12px;
  font-weight: auto;
  color: gray;
  padding: 10px;
}

body .footer .news .input {
  margin-top: 20px;
  height: 40px;
  width: 260px;
}

body .footer .news .searchboxicon {
  line-height: 40px;
  background-color: blue;
  height: 40px;
  width: 40px;
}

body .footer .follow {
  color: white;
  background: #0f0213;
  text-align: center;
}

body .footer .follow h4 {
  padding: 10px;
}

body .footer .follow p {
  padding: 10px;
  font-size: 12px;
  font-weight: auto;
  color: gray;
}

body .footer .follow span {
  padding: 10px;
}
/*# sourceMappingURL=allscss.css.map */