body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    box-shadow: 0 0 2px black;
    height:100vh;
    width:100%;
    margin-top:0px;
    position:relative;
    
}
.header{
    font-weight: 700;
    padding:10px;
    margin:50px;
}
.info{
    width:700px;
    margin:10px;
    float:left;
    position:absolute;
    margin-left:120px;
}

.info-title{
    margin:30px;
    font-weight:900;
    font-size:18px;
}
.info-paragraph{
    font-size:12px;
    padding:10px;
    font-style:normal;
}

.half{
    margin-left:220px;
    font-style: normal;
    color:#c2d6d6;
}
img{ 
    height:300px;

}
.signin-form{
   
    width:360px;
    float:right;
    padding:5px;
    margin-right:60px;
    margin-top:10px;
    box-shadow: 0 0 4px  #1a1a1a;
    background-color: white;
}
.input{
    padding:4px;
    width:200px;
    margin:5px;
    margin-left:0px;
    border:none;
    outline: none;
    
    
}
i{
    height:12px;
    padding:20px;
    margin-left:30px;
    color:#14141f;
    
}
.vl {
    border-left: 1px solid green;
    height: 10px;
    margin-left:8px;
  }
  hr{
     

      margin:0px;
      margin-left:40px;
      width:270px;
      color: rgb(160,160,255);
  }

  span{
      font-size:10px;
      color:#14141f;
      font-weight:600;
  }

  .check{
      margin-left:35px;
  }
  .signup{
      margin:20px;
      font-weight:600;
      background-color:#00e600;
      border:none;
      border-radius: 4px;
      color:white;
      height:30px;
      width:250px;
  }
  .s1{
      padding:3px;
      color:red;
      font-weight: 900;
     

  }
  .s2{
    padding:3px;
    margin:5px;
    font-weight:bolder;
  }