*{
    margin:0;
    padding:0;
}


body {
    margin:0;
    padding:0;
    color: white;
    font-family: 'Helvetica', arial, sans-serif;
  }
  
  .container {
    min-width:1200px;
    min-height:100vh;
    background: #c31432;  
    display: table;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid #cfcbcc;
    /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: table;
  
  }

  h2 {
    text-align: center;
    margin-bottom: 0px;
    line-height: 1;
    color:white;
  }
 
  
  ul {
    list-style: none;
    margin-top: 20px;
    border-radius: 5px;
    background-color:wheat;
    width:500px;
    margin-left:350px;
  }
  ul li {
    color:darkblue;;
    font-weight: 400;
    border-bottom: 1px solid #cfcbcc;
    padding: 8px 0;
  
  }
  #alltasks{
    border-radius: 30px;
    color:black;
    background-color: aliceblue;
  }
  ul li:before {
    content: "";
    padding: 10px 10px;
    font-size: 20px;
  }
  ul li:hover {
    font-size: 22px;
    cursor: pointer;
  }
  ul li:last-child {
    border-bottom: none;
  }
  
#tasklist{
  margin-left: 300px;
}

#tasklist{
  list-style: none;
}
#tasklist li{
  padding-bottom: 5px;
}
.remove_item{
  color: red;
  padding: 10px 5px 10px 10px;
  
}

.clickeable{
  cursor: pointer;
}

.update_icon{
  color: green;
  padding: 10px 10px 10px 0;
}

.show{
  display: block;
}

.hide{
  display: none;
}
.header{
  color:wheat;
}
