* {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.main-container {
  height: auto;
  position: relative;
  min-width: 1200px;
}

.main-container .banner {
  height: 70vh;
}

.main-container .banner ul {
  color: gray;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: flex-start space-evenly;
      -ms-flex-pack: flex-start space-evenly;
          justify-content: flex-start space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .banner ul li {
  padding: 1rem;
}

.main-container .banner ul li button {
  background-color: blue;
  padding: 8px;
  border: none;
  border-radius: 4px;
  color: white;
}

.main-container .banner .banner-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-container .banner .banner-info aside {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .banner .banner-info aside h2 {
  font-weight: normal;
  padding: 1px;
}

.main-container .banner .banner-info aside p {
  color: darkgrey;
  font-size: 12px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 2px;
}

.main-container .banner .banner-info aside .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-container .banner .banner-info aside .button button {
  margin: 10px;
  background-color: blue;
  padding: 8px;
  border: none;
  border-radius: 4px;
  color: white;
}

.main-container .banner .banner-info section img {
  height: 340px;
  width: 456px;
}

.main-container .banner li:first-child {
  font-size: 14px;
  font-weight: bold;
  margin-left: 100px;
  color: black;
}

.main-container .banner li:last-child {
  margin-left: 400px;
  padding: 1rem;
}

.main-container .banner .link {
  padding: 1rem;
}

.main-container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .content p {
  font-size: 12px;
  color: darkgray;
}

.main-container .content h2 {
  margin-top: 0px;
  font-weight: normal;
}

.main-container .content .main-three-section {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .content .main-three-section .three-section {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .content .main-three-section .three-section p:first-child {
  color: black;
}

.main-container .content .main-three-section .three-section p:last-child {
  margin-top: 1px;
  margin-left: 100px;
  margin-right: 30px;
  color: lightcoral;
}

.main-container .main-gallery {
  margin-left: 120px;
  margin-right: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

.main-container .main-gallery .imagebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  height: 150px;
  width: 200px;
  margin-top: 10px;
  margin-left: 20px;
}

.main-container .main-gallery .imagebox img {
  height: 150px;
  width: 200px;
}

.main-container .middle-blue-banner {
  width: 100%;
  height: 60vh;
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .middle-blue-banner h3 {
  font-weight: 400;
  padding: 5px;
  color: white;
}

.main-container .middle-blue-banner p {
  margin-top: -1px;
  width: 380px;
  font-size: 12px;
  color: white;
}

.main-container .middle-blue-banner .three-boxes {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
}

.main-container .middle-blue-banner .three-boxes .three-box {
  border-radius: 4px;
  width: 250px;
  margin: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  font-style: italic;
  padding: 12px;
  background-color: white;
  color: gray;
  font-family: sans-serif;
}

.main-container .middle-blue-banner .three-boxes .three-box i {
  margin-top: 20px;
  border-top: 1px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container .middle-blue-banner .three-boxes .three-box i div {
  margin-top: 10px;
  margin-left: 4px;
  padding: 5px;
  height: 30px;
  width: 30px;
}

.main-container .middle-blue-banner .three-boxes .three-box i div img {
  width: 20px;
  height: 20px;
}

.main-container .middle-blue-banner .three-boxes .three-box i p {
  margin-top: 15px;
  margin-left: 5px;
  padding: 4px;
  color: black;
  font-style: normal;
  font-size: 10px;
}

.main-container .portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .portfolio p {
  margin-top: 50px;
  color: gray;
  font-size: 12px;
}

.main-container .portfolio h2 {
  margin-top: 2px;
  font-weight: 400;
}

.main-container .portfolio .portfolio-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  margin: 10px;
  margin-left: 30px;
}

.main-container .portfolio .portfolio-gallery div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px;
  height: 180px;
  width: 300px;
}

.main-container .portfolio .portfolio-gallery div img {
  height: 180px;
  width: 300px;
}

.main-container .researchproject {
  margin-top: 20px;
  margin-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main-container .researchproject p {
  font-size: 12px;
  color: darkgray;
  width: 250px;
}

.main-container .researchproject h2 {
  margin-top: 0px;
  font-weight: normal;
}

.main-container .researchproject .researchprojectgallery {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .researchproject .researchprojectgallery .imageandinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .researchproject .researchprojectgallery .imageandinfo img {
  padding: 1px;
  max-width: 220px;
}

.main-container .researchproject .researchprojectgallery .imageandinfo .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  padding: 3px;
}

.main-container .researchproject .researchprojectgallery .imageandinfo .info h2 {
  font-size: 16px;
  font-weight: bold;
  padding: 1px;
  color: gray;
}

.main-container .researchproject .researchprojectgallery .imageandinfo .info p {
  padding: 1px;
}

.main-container .lastbannerblue {
  margin-top: 70px;
  width: 100%;
  height: 40vh;
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .lastbannerblue h2 {
  color: white;
}

.main-container .lastbannerblue input {
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.main-container footer {
  margin-top: 30px;
  padding: 20px;
  margin-left: 70px;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-container footer p {
  font-size: 12px;
  color: gray;
}

.main-container footer h2 {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */